body{
    text-align: center;
    background: #d9a7c7;  
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7); 
    background: linear-gradient(to right, #fffcdc, #d9a7c7); 
    

}
H1{
    font-family: 'Cookie', cursive;
}
#p1{
   font-family: 'Handlee',cursive;
}
h4{
    font-family: 'Dancing Script', cursive; 
    font-size: 25;
}

label{
    font-family: 'Bad Script', cursive;
}
